@{
    ViewBag.Title = "Index";
}

<h2>Chat</h2>

<form method="post" action="conversaciones/index">

    <input name="mensaje" placeholder="Ingresa tu pregunta" type="text" />
    <input type="submit" value="Aceptar" />
</form>

